
<html>

<body>
    <div id="top_banner">
        <div id="top_banner_text">
            <h1>Photovoltaic Power Plant Prediction of Production</h1>
            <p>
                Bachelor thesis by Sebastian Walenta
                
            </p>
            
        </div>
    </div>
    <h1>Im loking for...</h1>
    <div class="spacer">
        <div class="text_container">
            <h3>Forecast</h3>
            <p>View the forecast for the following days clearly in the graphs.</p>
            <button type="submit"><a href="@Url.Action("Location", "Home")">Show me Forecast!</a></button>
        </div>
        <div class="text_container">
            <h3>API</h3>
            <p>Generate a Url and conveniently retrieve data in JSON format.</p>
            <button type="submit"><a href="@Url.Action("API", "Home")">Show me API!</a></button>
        </div>
    </div>
    <div class="spacer">
        <div class="text_container">
            <h3>Comparation</h3>
            <p>Take a look at the comparison of our forecast with the actual production.</p>
            <button type="submit"><a href="@Url.Action("Comparation", "Home")">Show me Comparation!</a></button>
        </div>
    </div>

</body>
</html>